 <link rel = "stylesheet" type = "text/css" href="12-column-grid-video1-after.css" />



<body>

<div class="container"><!--everything on the page-->





  <div class="row">

    <div class="row3" >

      <div class="six" style="background: url('dolores-hidalgo.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->


      <div class="three" style="background: url(dolores-hidalgo.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">
<h2>Iglesia de los Dolores</h2>
        <h3>La iglesia dentro de la ciudad de dolores hidalgo</h3>
        <a href="<%= iglesia_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 3-->





  <div class="row">

    <div class="row4">



      <div class="three" style="background-color: transparent;">
        <h2>Tumba de José Alfredo Jímenez</h2>
        <h3>Tumba del cantante mas famoso de Dolores Hidalgo</h3>
        <a href="<%= jose_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->



      <div class="six" style="background: url('jose.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->



      <div class="three" style="background: url('jose.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 4-->



  <div class="row">

    <div class="row5">

      <div class="three" style="background-color: transparent">
        <h2>Casa de José Alfredo Jímenez</h2>
        <a href="<%= jose_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->



      <div class="three" style="background: url('josecasa.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three"  style="background: url(josecasa.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent" >
        <h3>Casa del cantante, donde encontraras</h3>
        <h3>
          Videos,
          Trajes,
          Canciones,
          Imagenes
        </h3>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 5-->





  <div class="row">

    <div class="row6">

      <div class="three" style="background-color: transparent">
        <h2>Casá de Don Miguel Hidalgo</h2>
      </div><!--closing column 6-->



      <div class="six"  style="background: url('hidalgo.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">
        <h3>Casa del personaje mas Importante de la historia de México</h3>
        <a href="<%= hidalgo_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 6-->

  <div class="row">
    <div class="row3" >
      <div class="six" style="background: url('vino.jpg') no-repeat center center fixed;">
      </div><!--closing column 6-->
      <div class="three" style="background: url(vino.jpg) no-repeat center center fixed;">
      </div><!--closing column 3-->
      <div class="three" style="background-color: transparent">
        <h2>Museo del Vino de Guanajuato</h2>
        <h3>Se narra la cronología de la historia del vino, reseñas de los viñedos de Hidalgo, los oficios del vino, el proceso de elaboración del vino y la vendimia.</h3>
        <a href="<%= vino_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->
    </div>
  </div><!--closing row 3-->

  <div class="row">
    <div class="row4">
      <div class="three" style="background-color: transparent;">
        <h2>Cuna de Tierra</h2>
        <h3>Casa viñola que ofrece un tour en carreta por los viñedos, visitas a la zona de producción y barricas, cata de vinos, clases de cocina.</h3>
        <a href="<%= jose_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->
      <div class="six" style="background: url('cuna.jpg') no-repeat center center fixed;">
      </div><!--closing column 6-->
      <div class="three" style="background: url('cuna.jpg') no-repeat center center fixed;">
      </div><!--closing column 3-->
    </div>
  </div><!--closing row 4-->



  <div class="row">
    <div class="row5">
      <div class="three" style="background-color: transparent">
        <h2>Museo de la Independencia Nacional</h2>
        <a href="<%= independencia_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->
      <div class="three" style="background: url('independencia.jpg') no-repeat center center fixed;">
      </div><!--closing column 3-->
      <div class="three"  style="background: url(independencia.jpg) no-repeat center center fixed;">
      </div><!--closing column 3-->

      <div class="three" style="background-color: transparent" >
        <h3>En la ciudad conocida como la Cuna de la Independenciâ, no podía faltar un museo que nos contara los hechos más relevantes de este período histírico tan importante. </h3>

      </div><!--closing column 3-->
    </div>

  </div><!--closing row 5-->


  <div class="row">
    <div class="row6">
      <div class="three" style="background-color: transparent">
        <h2>Monumento a Los Héroes de la Independencia</h2>
      </div><!--closing column 6-->
      <div class="six"  style="background: url('heroes.jpg') no-repeat center center fixed;">
      </div><!--closing column 3-->
      <div class="three" style="background-color: transparent">
        <h3>La escultura de 25 metros de longitud, está labrada en cantera rosa y ostenta las colosales figuras de Hidalgo, Morelos, Allende y Aldama.</h3>
        <a href="<%= heroes_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->
    </div>
  </div><!--closing row 6-->

</div><!--closing container div-->

