<body>

<section id="info">
  <div class="contenedor">
  <div class="info-vi">
    <%= image_tag "/img/marcador-64.png" %>
    <h3>Es necesario la siguiente </h3>
    <h3>imagen para ver la realidad aumentada</h3>
    <a type="button" href="marcador-64.png" target="_blank" value="Descargar Imagen" > Descargar Imagen</a>

  </div>
  <div class="info-vi">
    <%= image_tag "/img/Dolores_Hidalgo_night.jpg" %>
    <h4> <a href="<%= dolores_path %>" > Mas Información</a></h4>
  </div>
  <div class="info-vi">
    <%= image_tag "/img/Parroquia.jpg" %>
    <h4><a href="<%= talavera_path %>"> Mas Información</a></h4>
  </div>
    <div class="info-vi">
      <%= image_tag "/img/jose.jpg" %>
      <h4>Somos tu hotel</h4>
    </div>
  </div>
</section>


</body>