<p id="notice"><%= notice %></p>

<h1>Ordenestados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenestados.each do |ordenestado| %>
      <tr>
        <td><%= ordenestado.nombre %></td>
        <td><%= link_to 'Show', ordenestado %></td>
        <td><%= link_to 'Edit', edit_ordenestado_path(ordenestado) %></td>
        <td><%= link_to 'Destroy', ordenestado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordenestado', new_ordenestado_path %>
