<p id="notice"><%= notice %></p>

<h1>Comidas</h1>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>ID de usuario</th>
      <th>Descripción</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comidas.each do |comida| %>
      <tr>
        <td><%= comida.user_id%></td>
        <td><%= comida.description %></td>
        <td><%= comida.total %></td>
        <td><%= link_to 'Show', comida %></td>
        <td><%= link_to 'Eliminar', comida, method: :delete, data: { confirm: 'Are you sure?' } , :class=>'btn'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

