<p id="notice"><%= notice %></p>

<h1>Reservación de habitación</h1>
<form>
<label>Buscar por Nombre</label>
<select name="q" onchange="mostrarValor(this.options[this.selectedIndex].innerHTML);" class="form-control">
  <%  list_user.each do |c|%>
      <option name="<%= c.id  %>"  value="<%= c.id %>"><%= c.name  %></option>
  <% end %>
</select>
<span class="input-group-btn">
        <button type=”submit” class="form-control">Buscar</button>
  <%= link_to 'Refrescar', comentarios_reservacion_path, :class=>'btn btn form-control' %>
        </span>
</form>
<table class="table table-hover">

  <thead>
  <tr>
    <th>Fecha inicial</th>
    <th>Fecha salida</th>
    <th>Foto</th>
    <th>Estatus</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sends.each do |post| %>
      <tr>
        <td><%= post.start_time %></td>
        <td><%= post.end_time %></td>
        <td><%= image_tag post.photo, width:100 unless post.photo.blank?%></td>
        <td> <%if post.estatus ==1  %>(Reservado)
          <%end%>
          <%if post.estatus ==2  %>(En Uso)
          <%end%>
          <%if post.estatus ==3  %>(Finalizado)
          <%end%></td>

        <td><%= link_to 'Editar', edit_send_path(post), class:'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-default'%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<p><%= paginate @sends %></p>
<br>

<p id="notice"><%= notice %></p>

<h1>Reservacion por promoción</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Fecha inicial</th>
    <th>Fecha salida</th>
    <th>Foto</th>
    <th>Pago</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sendpros.each do |post| %>
      <tr>
        <td><%= post.start_time %></td>
        <td><%= post.end_time %></td>
        <td><%= image_tag post.photo, width:100 unless post.photo.blank?%></td>
        <td><%= post.pago %></td>
        <td><%= post.total %></td>
        <td><%= link_to 'Editar', edit_sendpro_path(post), class:'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-default'%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<p><%= paginate @sendpros %></p>
<br>



