
<%= simple_form_for([@promotion,@sendpro]) do |form| %>
    <% if @sendpro.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sendpro.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @sendpro.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">



            <div class="field">
              <%= form.label  'Fecha Inicial'%>
              <%= form.input :start_time, id: :send_start_time, :class=>'form-control' , :start_year => 2017, :discard_hours=>true%>

            </div>
            <div class="field">
              <%= form.label  'Fecha Salida'%>
              <%= form.input :end_time, id: :send_end_time, :class=>'form-control' , :start_year => 2017, :discard_hours=>true%>

            </div>
            <div class="form-group">
              <div class="field">
                <%= form.label "Promoción" %>
                <%= form.select :promotion_id,  value: list_promociones.collect{|c| [c.name, c.id]}%>
              </div>
            </div>
            <div class="field">
              <%= form.label "Estado de reservación" %>
              <%= form.select :status,  value: list_estado.collect{|c| [c.nombre, c.id]}%>
            </div>

            <div class="field">
              <%= form.label "Tipo de pago" %>
              <%= form.select :pago,  value: list_price.collect{|c| [c.name, c.id]}%>
            </div>


          </div>
          <div class="actions">
            <%= form.submit "Actualizar Lugar",  :class=>'btn btn-success'%>
          </div>
        </div>
<% end %>
</div>
</div>
</div>
