
<%= form_for([@promotion, @sendpro]) do |f| %>
    <% if @sendpro.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sendpro.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @sendpro.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">


            <div class="form-group">
              <div class="field">

                <%= f.hidden_field  :promotion_id, value:@promotion.id%>
                <%= f.hidden_field  :lugar, value:@promotion.name, :placeholder=>@promotion.name %>
                <%= f.hidden_field  :photo, value:@promotion.photo, :placeholder=>@promotion.photo %>
                <%= f.hidden_field  :status, value:1 %>

              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <%= f.hidden_field  :total, value:@promotion.price, :placeholder=>@promotion.price %>
              </div>
            </div>
        <div class="form-group">
          <div class="field">
            <%= f.hidden_field  :status, value:1, :placeholder=>1 %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= f.label  'Fecha Inicial'%>
            <%= f.input :start_time, id: :send_start_time, :class=>'form-control' , :start_year => 2017, :discard_hours=>true%>

          </div>
          <div class="field">
            <%= f.label  'Fecha Salida'%>
            <%= f.input :end_time, id: :send_end_time, :class=>'form-control' , :start_year => 2017, :discard_hours=>true%>

          </div>
        <div class="field">
          <%= f.label "Tipo de pago" %>
          <%= f.select :pago,  list_price.collect{|c| [c.name, c.id]}%>
        </div>

        <div class="form-actions">
    <%= f.submit "Apartar Lugar" , :class=>'btn'%>
  </div>
        </div>
<% end %>
      </div>
    </div>
  </div>
</div>