

<section id="banner">


  <%= image_tag "/img/secondfloor.jpg" %>
  <div class="contenedor">

    <p style="color: white">Los mejores Precios</p>
    <h1 class="titulo" style="color: white;">El refugio</h1>


  </div>
</section>

<p id="notice"><%= notice %></p>
<h3>Mis reservaciones</h3>

  <% @send.each do |send| %>
<div class="jumbotron" style="  height:50%;">
<div class="container">
      <div class="col-md-3">
        <div class="page-header">
          <%=image_tag(send.photo, :class => 'img-responsive', :style=>'width: 70%') unless send.photo.blank?  %>
        </div>
      </div>
          <div class="col-md-3">
            <div class="page-header">
              <h2>Fecha Inicial</h2>
          <%= send.start_time %>
            </div>
          </div>
      <div class="col-md-3">
        <div class="page-header">
          <h2>Fecha Salida</h2>
          <%= send.end_time %>
        </div>
      </div>
  <div class="col-md-3">
    <div class="page-header">
     <%if send.estatus ==1  %>(Reservado)
      <%end%>
          <%if send.estatus ==2  %>(En uso)
          <% link_to 'Carrito',cart_index_path %>
      <%end%>
              <%if send.estatus ==3  %>(Finalizado)
      <%end%>
      </div>
  </div>
      <div class="col-md-3">
        <div class="page-header">
          <div class="buttons", style="margin-top:10px; margin-bottom:10px ">
          </div>
        </div>
            <% if user_signed_in? %>
                <%= link_to 'Cancelar', send, :method=> :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn'  %>
            <% end %>
        <%if send.estatus ==2  %>
            <% link_to 'Carrito',cart_index_path %>
        <%end%>
          </div>

        </div>
      </div>
      </div>
  <% end %>
<% @sendpros.each do |send| %>
    <div class="jumbotron" style="  height:50%;">
      <div class="container">
        <div class="col-md-3">
          <div class="page-header">
            <%=image_tag(send.photo, :class => 'img-responsive', :style=>'width: 70%') unless send.photo.blank?  %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="page-header">
            <h2>Fecha Inicial</h2>
            <%= send.start_time %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="page-header">
            <h2>Fecha Salida</h2>
            <%= send.end_time %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="page-header">
            <div class="buttons", style="margin-top:10px; margin-bottom:10px ">
            </div>
          </div>
          <% if user_signed_in? %>
              <%= link_to 'Cancelar', send, :method=> :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn'  %>
          <% end %>
        </div>

      </div>
    </div>
    </div>

<% end %>

