<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @comida.description %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comida.user_id %>
</p>

<%= link_to 'Edit', edit_comida_path(@comida) %> |
<%= link_to 'Back', comidas_path %>
